@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #F2EEE7;
}

/* Layout da página */
.container {
    display: flex;
}

.sidebar {
    width: 100px;
    background-color: #225b5b;
    color: white;
    height: 100vh;
    padding: 10px 10px;
    transition: width 0.3s;
    overflow: hidden;
    position: relative;
}

.sidebar.expanded {
    width: 250px;
}

.sidebar .logo img {
    width: 50px;
    height: auto; 
    margin-bottom: 100px;
    margin-top: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.sidebar.expanded .logo img {
    width: 100px;
}

.sidebar nav ul {
    list-style-type: none;
}

.sidebar nav ul li {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon-image {
    margin-bottom: 20px;
    width: 30px;
    height: 30px;
    transition: width 0.3s, height 0.3s;
}

.sidebar.expanded .icon-image {
    width: 35px;
    height: 35px;
}

.sidebar nav ul li a .sidebar-text {
    margin-top: 5px;
    opacity: 0;
    transition: opacity 0.3s;
    white-space: nowrap;
}

.sidebar.expanded nav ul li a .sidebar-text {
    opacity: 1;
}

.main-content {
    flex: 1;
    padding: 100px;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.search-bar {
    width: 60%;
    padding: 10px;
    border: none;
    border-radius: 20px;
    background-color: white;
    font-size: 16px;
    font-family: "Oswald", sans-serif;
    box-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.2);
}

.add-task-button {
    background-color: #225b5b;
    color: #F2EEE7;
    border: none;
    padding: 15px 25px;
    border-radius: 20px;
    cursor: pointer;
    margin-right: 200px;
    box-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.2);
    font-family: "Oswald", sans-serif;
    font-size: 16px;
}

.add-task-button:active {
    background-color: #F2EEE7;
    color: #225b5b;
    border: none;
    box-shadow: 0.3rem 0.3rem 0.3rem rgba(0, 0, 0, 0.2);
}

.task-filters {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #F2EEE7;
    margin-bottom: 20px;
}

.filter-button {
    padding: 10px;
    border: none;
    background-color: #F2EEE7;
    border-radius: 20px;
    border: 0.2rem #22656D solid;
    cursor: pointer;
    flex-grow: 1;
    text-align: center;
    margin: 0 140px; 
    font-family: "Oswald", sans-serif;
    font-size: 20px;
   
}

.filter-button:hover {
    transiton: 2s;
     box-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.2);
}

/* Grade de tarefas */
.task-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.task-card {
    background-color: #225b5b;
    color: #F2EEE7;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0.2rem 0.3rem 0.2rem rgba(0, 0, 0, 0.2);
}

.task-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.task-title {
    font-size: 18px;
    font-weight: bold;
}

.task-actions {
    display: flex;
    gap: 10px;
}

.task-actions .edit-button,
.task-actions .delete-button {
    background: none;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 16px;
}

.task-description {
    font-size: 14px;
    margin-bottom: 10px;
}

.task-date,
.task-owner {
    font-size: 12px;
}

.toggle-button {
    position: absolute;
    top: 20px;
    left: 10px;
    background-color: #225b5b;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: left 0.3s;
}

.sidebar.expanded + .toggle-button {
    left: 255px;
}

h2{
    font-family: "Oswald", sans-serif;
    font-size: 35px;
    margin-bottom: 30px;
    color: #225b5b;
    margin-top: -20px;
    margin-left: 20px;
}